# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# .gitignore nedir github'a gönderiririz projemizi. ve başkasınna paylaşırız ama bu dosyanın içerisine koyduklarımız özel dosyalarımız olur ismi yazılanlar github'a yollanmazlar. github'a buradakiler olmadan yollanırlar. 

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
